@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Fira Sans';
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.section__container {
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
}


.section__container-right {
    display: flex;
    background-color: #E3CFCF;
    overflow: scroll;
    position: relative;
}


article {
    margin-top: 200vh;
    margin-bottom: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 17%;
}


.article__container-transition {
    opacity: 0;
    transition: 2s;
}

.appear {
    opacity: 1;
    transition: 2s;
}

.article__container-title {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 275;
    text-align: center;
    margin-bottom: 20px;
}


.article__container-paragraph {
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0px;
    text-align: center;
}

@media only screen and (min-width: 300px) and (max-width: 529px) {
    * {
        box-sizing: border-box;
    }

    .section {
        flex-direction: column;
        overflow: auto;
    }

    .section__container {
        width: 100%;
    }

    .article__container-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    article {
        padding: 0 2%;
    }

    .article__container-title {
        width: 95%;
    }

    .article__container-paragraph {
        font-size: 16px;
        width: 95%;
    }

}

@media only screen and (min-width: 530px) and (max-width: 699px) {
    * {
        box-sizing: border-box;
    }

    .section {
        flex-direction: column;
        overflow: auto;
    }

    .section__container {
        width: 100%;
    }

    .article__container-title {
        font-size: 24px;
        margin-bottom: 10px;
        width: 95%;
    }

    article {
        padding: 0 2%;
    }

    .article__container-paragraph {
        font-size: 16px;
        width: 95%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 949px) {
    * {
        box-sizing: border-box;
    }

    .section {
        width: 100%;
    }

    .article__container-title {
        font-size: 24px;
        margin-bottom: 10px;
        width: 95%;
    }

    article {
        padding: 0 2%;
    }

    .article__container-paragraph {
        font-size: 16px;
        width: 95%;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1169px) {

    .article__container-paragraph {
        font-size: 16px;
        width: 95%;
    }
}